<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Notic.ia</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body>
<main>
    <h1><span class="logo-color-1">Notic.</span><span class="logo-color-2">ia</span></h1>
    <h3>Inscrição cancelada com sucesso!</h3>
</main>

<footer>
    <p>© 2026 – Gabriel Avelar</p>
    <div class="social">
        <a href="https://www.linkedin.com/in/gabrielvavelar/" target="_blank">LinkedIn</a>
        <a href="https://github.com/gabrielvavelar" target="_blank">GitHub</a>
        <a href="mailto:gabrielvavelar@gmail.com">Email</a>
    </div>
</footer>
</body>
</html>